.checkout-container {
    padding: 20px;
    max-width: 800px;
    margin: 64px auto 0;
}

.checkout-item {
    display: flex;
    margin-bottom: 10px;
    align-items: center;
    border-bottom: 1px solid #eee;
    padding-bottom: 10px;
}

.cart-item-image {
    max-width: 100%;
    max-height: 100%;
    width: auto;
    height: auto;
    object-fit: contain;
    margin-right: 20px; 
}

.item-details {
    display: flex;
    flex-direction: column;
    gap: 5px; 
}

.item-details p {
    margin: 0; 
    font-size: 14px; 
}

.item-details b p {
    font-size: 16px; 
    margin-bottom: 5px;
}

.total {
    text-align: center;
    margin: 20px 0;
    font-weight: bold;
}

.btn {
    margin: 0 10px;
    padding: 10px 20px;
    border-radius: 5px;
}

@media (max-width: 768px) {
    .checkout-item {
        flex-direction: column;
        align-items: flex-start;
    }

    .cart-item-image {
        margin-bottom: 10px;
        margin-right: 0; 
    }

    .item-details {
        width: 100%; 
    }
}