.grid-container {
    margin-top: 64px;
    padding: 20px;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

.flex-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    width: 100%;
}

.card {
    width: 250px;
    height: 360px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    background-color: #fff;
    margin: 0;
}

.card-img-top {
    width: 100%;
    height: 150px;
    object-fit: contain;
    padding: 5px;
    border-radius: 10px 10px 0 0;
}

.card-body {
    padding: 10px;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card-link {
    text-decoration: none;
    color: inherit;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

.card-title {
    margin-bottom: 5px;
    font-size: 1.25rem;
}

.card-brand {
    font-style: italic;
    margin-bottom: 10px;
}

.hr-line {
    margin: 10px 0;
}

.home-cart-price {
    margin-bottom: 10px;
}

.btn-hover {
    padding: 8px 16px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    align-self: center;
    width: fit-content;
}

.btn-hover:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}

.no-products {
    margin-top: 20px;
    text-align: center;
}
.card-body form {
    margin-top: 9px;
}


@media (max-width: 768px) {
    .card {
        width: 100%;
        max-width: 250px;
        margin: 0 auto;
    }
}